/* ==== Universal Styles ==== */

body {
    font-family: "Roboto Slab", serif;
}

header {
    display: flex;
    flex-wrap: wrap;
}

header .logo-container {
    flex-grow: 4;  /* Push nav to the right-hand side on larger devices */
    align-self: center;
    padding: 1rem 2.5%;
}

header .logo-container img {
    width: 150px;
}

header nav {
    flex-grow: 1;
    padding-right: 5%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav li {
    height: 100%;
    font-size: 1.25em;
}

header nav a {
    display: inline-block;
    height: 100%;
    padding: 1.5rem 0.75em;
    border-bottom: 4px solid transparent;  /* Prevent nav height increase on hover */
    border-top: 4px solid transparent;  /* For vertical centring */
    color: rgb(100, 100, 100);
    text-decoration: none;
}

header nav a:hover {
    background-color: rgb(240, 240, 240);
    border-bottom: 4px solid maroon;
    color: maroon;
}

header nav a:active {
    border-bottom: 4px solid black;
    color: black;
}

@media screen and (max-width: 768px) {
    header .logo-container img {
        margin: 0 auto;  /* Centre logo */
    }

    header nav {
        width: 100%;  /* Display full-width nav beneath logo */
        padding-right: 0;
    }

    header nav li {
        height: auto; /* Ensure appropriate height if links wrap */
        font-size: 1.1em;
    }
}


/* ==== Utilities and Components ==== */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    max-width: 50%;
    padding: 2rem 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.hero-content h1 {
    font-size: 2.5em;
}

.hero-content p {
    font-size: 1.6em;
    line-height: 1.8;
}

@media screen and (max-width: 1200px) {
    .hero-content {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .hero-container {
        min-height: 0; /* Semi-transparent background covers entire image height */
    }

    .hero-content {
        width: 100%;  /* Semi-transparent background covers entire image width */
        max-width: 100%;
        padding: 7rem 2rem;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1.2em;
    }
}


/* ==== Elements ==== */

h1 {
    margin-bottom: 0.8em;
    font-weight: 900;
}


/* ==== Miscellaneous ==== */

#mission {
    background-image: url("../images/hero-background.jpg");
}