/* ==== Universal Styles ==== */

body {
    font-family: "Roboto Slab", serif;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .logo-container {
    flex-grow: 3;  /* Push nav to the right-hand side on larger devices */
}

header .logo-container img {
    width: 200px;
    padding: 1rem;
}

header nav {
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    header .logo-container img {
        margin: 0 auto;  /* Centre logo */
    }

    header nav {
        width: 100%;  /* Display full-width nav beneath logo */
    }
}